<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143219694394-u5eut0asvn8md9oa7g7hfbllv28vqb10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143219694394-u5eut0asvn8md9oa7g7hfbllv28vqb10</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143219694394-hntj376fj8ssn1v4gb42dcb9jrgjmaaf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7nRbtWFSb6jCy-diyugmz1VkF5xHcyWk</string>
	<key>GCM_SENDER_ID</key>
	<string>143219694394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.powerplate</string>
	<key>PROJECT_ID</key>
	<string>powerplate-3aaec</string>
	<key>STORAGE_BUCKET</key>
	<string>powerplate-3aaec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143219694394:ios:e76436ea3d7a81e3d60e03</string>
</dict>
</plist>